:root {
  --orange-color: #FF6900;
}

/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Common */
.container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

/* utiliteis */
.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolut {
  position: absolute;
}

.padding-5px-10px {
  padding: 5px 10px;
}

.bg-green {
  background-color: #008000;
  color: white;
}
.bg-red {
  background-color: red;
  color: white;
}

.align-vertical-horizontal {
  justify-content: center;
  align-items: center;
}

.mrg-b {
  margin-bottom: 10px;
}

/* header  */
header {
  background-color: var(--orange-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 9999;
}

.left-section {
  width: 20%;
}

.header-list li {
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}

.middle-section {
  width: 70%;
}

.boolean-logo {
  width: 200px;
}

.right-section {
  width: 10%;
  text-align: end;
}

.login-icons {
  font-size: 20px;
  margin-right: 6px;
}

/* main  */
main {
  padding: 80px 0 50px;
}

.main-container {
  flex-wrap: wrap;
}

/* col  */
.col {
  width: calc(100% / 3);
  padding: 10px;
}
.hover {
  display: none;
}

.col:hover .img-content .not-hover {
  display: none;
}

.col:hover .img-content .hover {
  display: inline-block;
}

.brand {
  color: grey;
  font-style: italic;
}

.name-drees {
  font-size: 1.5rem;
  font-weight: 700;
}

.prise {
  color: red;
}

.crossed-prise {
  text-decoration: line-through;
  font-weight: 200;
}

.hearts {
  padding: 10px;
  background-color: white;
  right: 10px;
  top: 20px;
  font-size: 1.7rem;
}

.col:hover .absolute-element .hearts {
  color: red;
}

.p-left-bottom {
  left: 10px;
  bottom: 100px;
}

/* footer  */
footer {
  background-color: #1A1A1A;
  color: white;
  padding: 50px 0;
}

footer > div {
  justify-content: space-between;
}

.footer-left h4 {
  font-size: 20px;
}

.footer-right ul li {
  margin-right: 15px;
}